* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 60%;
}

/*HEADER*/

header nav {
	margin-top: 4%;
}

header ul li {
	display: inline-block;
	padding-right: 10%;
	color: #808080;
}

header img {
    margin: 10% 0 5%;

}

/*SECTION*/

section {
	background-color: #808080;
}

section .first {
	padding-top: 10%;
}

h1 {
	font-size: 3em;
	color: #ffffff;
}

p,
h3 {
	color: #ffffff;
}

form {
	border: 1px solid #9A9A9A;
	background-color: #9A9A9A;
	border-radius: 3%;
	text-align: center;
}

form h3,
.button {
	text-align: center;
	color: #ffffff;
}

h3 {
	padding-top: 5%
}

input {
	margin-bottom: 3%;
	width: 90%;
}

input .placeholder {
	color: #808080;
}

form .button {
	border: 1px solid #3EB0F7;
	background-color: #3EB0F7;
	color: #ffffff;
}

p {
	margin-bottom: 20%;
}

/*FOOTER*/

footer .row {
	color: #808080;
}

span {
	color: #4334EF;
}

/*RESPONSIVE*/

@media screen and (max-width : 535px) {

}